.project-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: auto;
  color: #dedede;
  padding: 10px;
  max-width: 100%;
}

.project-image {
  grid-area: 3 / 7 / 11 / 13;
  overflow: hidden;
  height: 100%;
  position: relative;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.project-image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
  pointer-events: none;
}

.image-content video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%; /* 70% of the image's width */
  height: 50%; /* 50% of the image's height */
  object-fit: cover; /* Make sure the video covers the area */
  transform: translate(-50%, -50%); /* Center the video */
  border-radius: 20px; /* Match the image's border radius */
  z-index: 1; /* Ensure the video is above the image */
  pointer-events: none;
}

.moving-clicker {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  font-size: 10px;
  font-weight: bold;
}
.project-banner {
  /* grid-area: 8 / 8 / 9 / 11; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  height: 5%;
  margin-top: 5px;
  pointer-events: none;
}

.project-banner div {
  font-family: "gothic light", sans-serif;
  border: 1px solid #dedede;
  color: #dedede;
  border-radius: 20px;
  width: 15%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}

.project-banner .year {
  background-color: #dedede;
  color: #212121;
}

.project-number {
  grid-area: 4 / 2 / 6 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-number h1 {
  margin: 0;
  font-size: 15vh;
}

.number-wrapper {
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.project-description {
  grid-area: 6 / 2 / 10 / 6;
  line-height: 1.5;
}

.project-description span {
  text-align: left;
}

@media (max-width: 950px) {
  .project-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto; /* Auto rows */
  }

  .project-image {
    grid-area: 1 / 1 / 2 / 2; /* Full screen */
  }

  .project-number {
    display: none;
  }

  .project-description {
    grid-area: 3 / 1 / 4 / 2; /* Below the number */
    padding: 10px; /* Add some padding for mobile */
    font-size: 15px;
  }

  .project-banner {
    width: 100%;
    height: 3%;
  }

  .project-banner div {
    width: 20%;
  }
}
