.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  min-height: 100vh;
  max-width: 100%;
}

.intro {
  text-align: center;
  max-width: 900px;
  font-family: "Riccione Serial Medium", sans-serif;
}

.intro-overlay {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  flex-direction: column;
  align-items: flex-start;
}

.intro .name {
  font-size: clamp(0.7rem, 1vw, 1rem);
  font-weight: bold;
  font-family: "gothic light", sans-serif;
  padding-left: 10px;
  text-align: left;
}

.intro h1 {
  font-size: clamp(4rem, 12vw, 9rem);
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1;
  font-family: "roboto", sans-serif;
  margin-top: 0;
  height: clamp(4rem, 10vw, 8.5rem);
}

.intro p {
  margin: 0;
  font-size: clamp(2rem, 6vw, 60px);
}

.intro .description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: clamp(1.2rem, 3vw, 2rem);
}

.intro .location {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: normal;
  font-family: "gothic light", sans-serif;
}

.location span {
  font-family: "Riccione Serial Medium", sans-serif;
}

.line-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  font-size: clamp(1.5rem, 4vw, 40px);
}

.line-one h2 {
  margin: 0;
}

.line-one p {
  margin: 0;
}

.line-two p {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 2px;
}

.line-two p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transform-origin: left;
  transition: width 1s ease;
}

.line-two p.underline-active::after {
  width: 100%;
}

.mini-number {
  display: inline-block;
  font-size: clamp(10px, 1vw, 15px);
}

.line-one .inspired {
  font-family: "gothic light", sans-serif;
}

.letter-wrapper {
  display: inline-block;
  overflow: hidden;
}
