.wavy-words-container {
  overflow: hidden;
  /* display: flex; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wavy-words-container p {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.wavy-words1 {
  margin: 0;
  padding: 0;
}

.wavy-words2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
}
