.horizontal-view-container {
  background-color: black;
  height: 300vh;
  position: relative;
}

.h-view-wrapper {
  position: sticky;
  top: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.h-view-content {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 50vw;
}

.test-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  background-color: white;
  color: black;
  border-radius: 20px;
}
