.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  outline: 2px solid black;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.navbar li {
  margin-right: 40px; /* Adjust margin for spacing */
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

.navbar button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
  background-color: transparent; /* Transparent background */
  border: none; /* Remove the border */
  padding: 0; /* Remove button padding */
  cursor: pointer; /* Add a pointer cursor to mimic a link */
}

.navbar button:before {
  content: attr(title);
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  opacity: 0; /* Initially invisible */
  transform: scale(0);
  transform-origin: center;
  transition: opacity 0.4s ease, transform 0.4s ease;
  text-align: center;
  margin-top: 4px;
  left: 60%; /* Center horizontally */
  top: 100%; /* Position below the link */
  margin-left: -0.5em; /* Adjust based on your design */
}

.navbar button:hover:before {
  opacity: 1;
  transform: scale(1);
}
