body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  cursor: pointer;
}

/* #fffaf1 */
/* #212121 */

@font-face {
  font-family: "Riccione Serial Medium";
  src: url("/fonts/Riccione Serial Medium Regular.ttf") format("truetype"); /* Update the path accordingly */
}

@font-face {
  font-family: "gothic light";
  src: url("/fonts/OPTINewsGothicLight.otf") format("truetype"); /* Update the path accordingly */
}

@font-face {
  font-family: "calling cards";
  src: url("/fonts/CallingCards_Bold_sample.ttf") format("truetype"); /* Update the path accordingly */
}
